{% extends 'base.html' %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm border-0">
      <div class="card-body text-center">
        <form action="{{ url_for('download_file', audio_file_path = audio_file_path) }}" method="POST" novalidate>
          {{ form.csrf_token() }}
          {{ form.download(value=1) }}
          <button class="btn btn-outline-primary" type="submit">
            <i class="bi bi-download me-1"></i>Download Audio
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
